* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
div {
    border: 1px solid white;
}
.header {
    height: 35px;
    background-color: #fab082;
    text-align: center;
}
.n1 {
    height: 4rem;
    background-color: red;
    font-size: 2.5rem;
    text-align: left;
}
.n2 {
    height: 4rem;
    background-color: #01ffff;
    font-size: 2.5rem;
    text-align: center;
}
.n3 {
    height: 4rem;
    background-color: red;
    font-size: 2.5rem;
    text-align: right;
}
.footer {
    height: 35px;
    background-color: yellow;
    text-align: center;
}
@media only screen and (min-width: 576px) {
    .header {
        background-color: #63cdde;
        text-align: left;
    }
    .n1 {
        height: 6rem;
        background-color: red;
        text-align: left;
    }
    .n2 {
        height: 6rem;
        background-color: red;
        text-align: right;
    }
    .n3 {
        height: 4rem;
        background-color: #01fa02;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .header {
        background-color: #69b843;
    }
    .n1 {
        height: 10rem;
        background-color: red;
        text-align: center;
    }
    .n2 {
        height: 10rem;
        background-color: red;
        text-align: center;
    }
    .n3 {
        height: 10rem;
        background-color: red;
        text-align: center;
    }
    .footer:first-of-type {
        text-align: right;
    }
    .footer:last-of-type {
        text-align: left;
    }
}