.cubo, .cubo .cara {
    width: 200px;
    height: 200px;
}
.cubo .cara {
    position: absolute;
}
.cubo {
    margin: 100px auto;
}
.cubo .cara#superior {
    background-color: orange;
}
.cubo .cara#frente {
    background-color: red;
}
.cubo .cara#atras {
    background-color: green;
}
.cubo .cara#derecha {
    background-color: blue;
}
.cubo .cara#izquierda {
    background-color: yellow;
}
.cubo .cara#inferior {
    background-color: fuchsia;
}
.cubo {
    transform-style: preserve-3d;
}
.cubo {
    transform-style: preserve-3d;
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
}
.cubo .cara#derecha {
    transform: rotateY(90deg);
}
.cubo .cara#derecha {
    transform: rotateY(90deg) translateZ(100px);;
}
.cubo .cara#superior {
    background-color: orange;
    transform: rotateX(90deg) translateZ(100px);
}
.cubo .cara#frente {
    background-color: red;
    transform: translateZ(100px);
}
.cubo .cara#atras {
    background-color: green;
    transform: translateZ(-100px);
}
.cubo .cara#derecha {
    background-color: blue;
    transform: rotateY(90deg) translateZ(100px);
}
.cubo .cara#izquierda {
    background-color: yellow;
    transform: rotateY(-90deg) translateZ(100px);
}
.cubo .cara#inferior {
    background-color: fuchsia;
    transform: rotateX(-90deg) translateZ(100px);
}
.cubo {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
    0% { transform: rotateX(   0deg ) rotateY(   0deg ); }
  100% { transform: rotateX( 360deg ) rotateY( 360deg ); }
}
