* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}
div {
    border: 1px solid white;
}
.lightgreen {
    height: 50px;
    background-color: lightgreen;
}
.red {
    background-color: red;
}
.grey {
    height: 75px;
    background-color: grey;
}
.orange {
    height: 75px;
    background-color: orange;
}
.lightblue {
    height: 75px;
    background-color: lightblue;
}
.aqua {
    height: 75px;
    background-color: aqua;
}