/*
@author Marcos Martinez
@version EXAMEN 3 de marzo 2020
*/
div {
    height: 50px;
    width: 35px;
    border: 1px solid black;
}

.black {
    margin: auto;
    background-color: black;
}

.white {
    display: inline-block;
    margin: 10px 5px;
}