html, body, div, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

html { 
	overflow-y: scroll; /* Siempre forzar una barra de desplazamiento en no-IE */
	}
body {
	background: #e3e5e5;
	overflow-x: hidden;
	height: 4550px;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: Arial,sans-serif;
}
img { 
	display:block;
	}
	
/* Page structure
*****************************************************************/

#wrapper {
	position: relative;
}
/* Parallax
*****************************************************************/

			
/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; /* Alinear el borde izquierdo con el centro de la ventana de visualización */
	top: 0;
	width: 1200px;
	margin-left: -470px; /* Mover a la izquierda la mitad del ancho del elemento */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: -111px;
		left: 355px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 321px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		left: 403px;
		}
	#bg3-4 {
		position: absolute;
		top: 2700px;
		left: -85px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* Alinear el borde izquierdo con el centro de la ventana de visualización */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* Mover a la izquierda por el ancho de la mitad del elemento */
	}
	#bg2-1 {
		position: absolute;
		top: 162px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 1150px;
		}
	#bg2-3 {
		position: absolute;
		top: 543px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 900px;
		left: 890px;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* Alinear el borde izquierdo con el centro de la ventana de visualización */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* Mover a la izquierda por el ancho de la mitad del elemento */
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}


