{% extends 'base.html.twig' %}
{% block title %}Certificado desarrollador{% endblock %}
{% block body %}
    <h1>Informacion sore las unidades de competencias</h1>
    <h3>Los desarrolladores están capacitados para</h3>
    <p>Desarrollar elementos software en el entorno cliente.</p>
    <p>Desarrollar elementos software en el entorno servidor.</p>
    <p>Implementar, verificar y documentar aplicaciones web en entornos internet, intranet y extranet</p>
    <p>Metodo: {{ nombre_metodo }}</p>
{% endblock %}