* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1024px;
    height: 720px;
    margin: auto;
}
[class*='c-pieza'] {
    display: inline-block;
    width: 330px;
    height: 320px;
}
[class*='c-pieza']:nth-child(odd) {
    background-color: grey;
}
#images * {
    width: 150px;
}
