{# comentario twig #}
{# 
    {se calcula (sin #), para variables, con el mismo nombre que la variable de php}
#}
{# {variable|filtro} #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido --base--{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
