@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
}
/*  MENU JAVASRIPT */
.menu_bar {
	display:none;
}
header {
	width: 100%;
}
header nav {
	background:#49aacd;
	z-index:1000;
	margin:20px auto;
}
header nav ul {
	list-style:none;
}
header nav ul li {
	display:inline-block;
	position: relative;
}
header nav ul li:hover {
	background:#49aacd;
}
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
header nav ul li a span {
	margin-right:10px;
}
header nav ul li:hover .children {
	display:block;
}
header nav ul li .children {
	display: none;
	background:#49aacd;
	position: absolute;
	width: 150%;
	z-index:1000;
}
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
header nav ul li .children li a {
	display: block;
}
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
/*changes*/
header nav {
  margin: 0;
  padding: 0;
}
header nav > ul{
  margin: 0;
}
.children {
  padding: 0;
}
@media screen and (max-width: 767px) {
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#49aacd;
	}
	.menu_bar a {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	header nav ul li a {
		display: block;
	}
	header nav ul li:hover .children {
		display: none;
	}
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
	header nav ul li .children li a {
		margin-left:20px;
	}
}

/*  FIN MENU */
.row {
  display: inline-block;
  padding: 1em .75em;
}
[class*="col-"] {
  float: left;
}
h1 {
  display: inline-block;
}
h2 {
  margin: 0 0 .5em;
}
article p {
  margin: 0 0 1em;
  text-align: justify;
}
iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  font-size: .8em;
  font-weight: bold;
  padding: 0;
}
label {
  display: block;
  margin: 12px 0 3px;
}
fieldset input {
  padding: 0 10px 0 35px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #e1e5f0;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 6px 7px;
}
input[type='text'] {
  background-image: url('../img/user.svg');
}
input[type='tel'] {
  background-image: url('../img/telephone.svg');
}
input[type='email'] {
  background-image: url('../img/at.svg');
}
textarea {
  padding: 2px 5px;
  height: 100px;
  resize: vertical;
  border: none;
  border-radius: 2px;
  background-color: #e1e5f0;
}
#submit, #reset {
  margin-top: 10px;
  height: 40px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: #49aacd;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #49aacd;
}
footer span {
  color: white;
}
/*.row::after {
  content: "";
  clear: both;
  display: flex;
}*/
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  article p {padding-right: 1em;}
  iframe {height: 400px;}
  fieldset > div[class*="col-"]:nth-of-type(odd) > input{width: 98%}
  .buttons {display: grid;grid-gap: 5px;grid-template-areas: 'input input';}
}
/* For desktop: */
@media only screen and (min-width: 1024px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  article p {padding-right: 1em;}
  iframe {height: 500px;}
}
/*
01. Debe ser totalmente responsive: con visualización para móvil, tablet y escritorio.
02. Tener un HTML válido con respecto a la w3c.
03. Contenedores semánticos.
04. Código CSS sencillo y conciso.
05. Puedes usar pequeños toques de javascript de manera puntual para animaciones que no sean posibles con CSS.
06. Al menos un formulario perfecto con al menos cinco campos.
07. Menú desplegable con iconos y submenús que redirijan a la posición dentro del mismo documento.
08. Al menos una imagen y un link a un video de youtube que se escale correctamente.
09. Paleta de colores coherente, distribución y ubicación homogénea.
10. Estilo general.
*/
