@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
td {
  text-align: center;
}
tr:first-child {
  background-color: #e5e6ee;
}
tr:nth-child(even) td{
  background-color: #fefdc9;
}
th[scope='row'] {
  background-color: #e6edf8;
  text-align: left;
  padding-left: 20px;
}
tr > th[scope='row'] {
  background-repeat: no-repeat;
  background-position: 2px 8px;
}
tr:nth-child(2) > th[scope='row'] {
  background-image: url('../img/euro.png');
}
tr:nth-child(3) > th[scope='row'] {
  background-image: url('../img/dolar.png');
  background-repeat: no-repeat;
}
tr:nth-child(4) > th[scope='row'] {
  background-image: url('../img/libra.png');
  background-repeat: no-repeat;
}
tr:nth-child(5) > th[scope='row'] {
  background-image: url('../img/yen.png');
  background-repeat: no-repeat;
}
tr:hover td{
  background-color: #fefc68;
}
